@import '../../../../scss/index.scss';

button.ant-btn.ant-btn-primary {
    font-size: 12px;
    float: none
}

span.ant-badge-status-dot {
    padding: 10px;
    border-radius: 0px;
}

span.ant-badge-status-dot.ant-badge-status-default {
    background-color: yellow;
}

button.ant-btn.ant-btn-primary.ant-btn-dangerous {
    font-size: 12px;
}

.ant-badge-status-text {
    font-size: 12px;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
    padding: 0px 5px;
}

span.anticon.anticon-file-excel {
    color: #fff !important;
}

.ant-pagination-prev:focus-visible .ant-pagination-item-link, .ant-pagination-next:focus-visible .ant-pagination-item-link, .ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link {
    color: $color-rimac;
    border-color: $color-rimac;
}