.ant-modal-body {
    padding-top: 0px;
}

span.anticon.anticon-file-excel.btn-export { 
    color: #fff !important;
}

button.ant-btn.ant-btn-default.ant-btn-lg.ant-btn-icon-only:hover, button.ant-btn.ant-btn-default.ant-btn-lg.ant-btn-icon-only:focus {
    border-color: honeydew !important;
}