@import '../../../../scss/index.scss';

p.ant-upload-text, p.ant-upload-hint {
    font-family: $lato;
}

.ant-table-content {
    font-family: $lato;
}

p.ant-upload-drag-icon span.anticon.anticon-file-excel {
    color: green !important;
}