@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500&display=swap");

$color-text:#4a4a4a;
$primary-color:#ed1c24;
  //Fonts
$primary-font: "Lato", Arial, sans-serif;
$secondary-font: "Roboto", sans-serif;

//Reds
$red: #ef3340;
$red2: #fc4e55;
$red3: #fc606b;
$red4: #ffd7da;
$red5: #fee7e9;
$red6: #ffe6c2;
$red7: #ff0000;

//Grays
$gray1: #494f66;
$gray2: #676f8f;
$gray3: #a3abcc;
$gray4: #c5cbe0;
$gray5: #e4e8f7;
$gray6: #f0f2fa;
$gray7: #f7f8fc;
$gray8: #edeff5;
$gray9: #a9b1d1;
$gray10: #d4d5e8;
$gray11: #f7f7fa;

//Acian
$acian: #939dff;
$acian2: #6f7dff;

//Green
$green: #83cc5e;
$green2: #cfedc0;
$green3: #e9f7e2;
$green4: #92d66f;

//Orange
$orange: #ffa733;
$orange2: #ffdca9;
$orange3: #ffefd8;
$orange4: #ffaf3a;

//Blank
$blank: #fff;

//White

$white: #ffffff;
$white2: #fafafc;
$white3: #f7f7fa;

//Fonts
$lato: "Lato", Arial, sans-serif;
$roboto: "Roboto", sans-serif;

//Other
$color-rimac: #EF3340;